.related-products {
  margin-bottom: 15px;
}

.related-products__title {
  box-sizing: border-box;
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
}

.product-row {
  display: flex;
  align-items: center;
}

.product-image {
  flex: 0 0 40%;
  margin-top: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: #fff;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-details {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 40px;
  margin-top: 5em;
}

.product-title,
.product-prices,
.product-description,
.product-actions {
  margin-bottom: 20px;
}

.product-title h1 {
  font-size: 4rem;
  color: #333;
  font-weight: bold;
  overflow-wrap: break-word;
}
h1 {
  line-height: 1.2;
}

.product-prices {
  display: flex;
  align-items: center;
}

.product-prices .product-price-new {
  font-size: 3rem;
  color: var(--primary-color);
}

.product-prices span:first-child {
  margin-right: 2rem;
}

.product-prices .product-price-old {
  text-decoration: line-through;
  color: #666;
  font-size: 2rem;
}

.product-price-old h6,
.product-price-new h6 {
  display: inline-flex;
  align-items: center;
  vertical-align: super;
}

.product-description {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

.product-actions {
  display: flex;
  flex-direction: column;
}

.product-quantity,
.quantity-input button,
.color-options,
.product-add-to-cart {
  margin-bottom: 15px;
}

.product-add-to-cart {
  color: #ecf0f1;
  font-size: 14px;
  background-color: rgb(2 132 199);
  border: 1px solid rgb(56 189 248);
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px rgb(3 105 161);
  transition: all 0.1s;
}

.product-add-to-cart:active{
  box-shadow: 0px 2px 0px rgb(3 105 161);
  position: relative;
  top: 2px;
}

.product-buy-now {
  color: #ecf0f1;
  font-size: 14px;
  background-color: rgb(67 56 202);
  border: 1px solid rgb(129 140 248);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px;
  box-shadow: 0px 6px 0px rgb(55 48 163);
  transition: all 0.1s;
}

.product-buy-now:active {
  box-shadow: 0px 2px 0px rgb(55 48 163);
  position: relative;
  top: 2px;
}

.color-options button {
  padding: 8px 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.color-options button:hover {
  background-color: #e2e2e2;
}

.color-btn {
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.color-btn:hover {
  background-color: #ddd;
}

.color-btn.active {
  border-color: #007bff;
  background-color: #e7f0ff;
  color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
}

.quantity-input {
  display: flex;
  align-items: center;
}

.quantity-input button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  cursor: pointer;
}

.quantity-input button:hover {
  background-color: #e0e0e0;
}

.quantity-decrement,
.quantity-increment {
  border-radius: 4px;
}

.product-quantity {
  text-align: center;
  max-width: 4rem;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.related-products-slider {
  position: relative;
  margin-bottom: 50px;
}

.color-options .color-btn {
  width: 40px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  overflow: hidden;
  color: #333;
}

.color-options .color-btn.selected {
  border: 1px solid black;
  font-weight: bold;
  color: #fff;
  background-color: dodgerblue;
}

.color-options .color-btn:hover {
  background-color: #a3c3e2;
}
.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 15px;
}

.breadcrumb-link {
  text-decoration: none;

  color: #007bff;
  margin-right: 5px;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-current {
  color: #333;
  margin-left: 5px;
}

.grid__column-2 {
  margin-top: -20px;
}
.star {
  cursor: pointer;
  font-size: 24px;
  color: gray;
}
.star.selected {
  color: gold;
}
